.button {
	position: fixed;
	right: 32px;
	bottom: 32px;
	padding: 18px 24px;
	background: #3E3333;
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.button:hover {
	bottom: 36px;
	opacity: 0.5;
}
.button span {
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}